@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }

html, body {
  background-color: #f9fafb; /* gray-50 */
  color: #111827;            /* gray-900 */
  font-feature-settings: "liga","kern";
}

/* (Cuando confirmemos que compila, volvemos a agregar utilidades con @apply si querés) */
